/**
 * 모든 페이지에서 사용될 공통적인 내용들을 정의하기 위한 파일
 */

/*-------------------------------------------------
 * 공통
 *-------------------------------------------------*/
* {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/*-------------------------------------------------
 * 상단영역
 *-------------------------------------------------*/
/* 상단영역에 의해 가려지는 부분을 화면에 표시하기 위한 여백 */
.container {
    padding-top: 60px;
}

.header {
    /* background-color: #f062; */
    /* 상단 고정 */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9000;
    
    /* 그림자 처리 */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

/* 상단 영역 내의 컨테이너에 속한 아이템들의 배치 구성 */
.header .content-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

/** 양쪽의 아이콘 박스 공통 속성 */
.header .icon-box {
    padding: 16px;
    font-size: 24px;
    font-weight: 900;
    transition: all 0.1s ease-in;
}

.header .icon-box:hover {
    background-color: #dddddd;
    color: #ffffff;
}

/** 사이트 제목 */
.header .title-box {
    display: flex;
    align-items: center;
}
.header .title-box h1 {
    font-size: 28px;
    font-weight: 600;
}


/*-------------------------------------------------
 * 하단영역
 *-------------------------------------------------*/
.footer {
    /* background-color: #0002; */
    border-top: 1px solid #dddddd;
}

.footer .content-container {
    display: flex;
}

.footer .footer-item {
    flex: 1;
    padding: 15px;
}

.footer .footer-item h3 {
    font-size: 24px;
    font-weight: 700px;
    margin: 22px 0;
    text-transform: uppercase;
}

.footer .footer-item p {
    font-size: 15px;
    line-height: 150%;
    font-weight: 300;
}

.footer .footer-item .bloglist a {
    display: flex;
    margin: 20px 0;
    padding: 0 10px;
}

.footer .footer-item .bloglist a img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 10px;
}

.footer .footer-item .bloglist a .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .footer-item .bloglist a .text-box .title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.footer .footer-item .bloglist a .text-box p {
    line-height: 1.2;
}

.footer .footer-item .tags li {
    display: inline-block;
    background-color: #616161;
    padding: 5px 10px;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 13px;
}

.footer .footer-item .tags li.black {
    background-color: #000000;
}

@media only screen and (max-width: 768px) {
    .footer .content-container {
        flex-direction: column;
    }

    .footer .footer-item h3 {
        margin-top: 0;
    }
}

/*-------------------------------------------------
 * 각 영역 안에서 넓이를 제한하기 위한 공통 컨테이너
 *-------------------------------------------------*/
.content-container {
    /* background-color: #0603; */
    max-width: 1200px;
    margin: auto;
}