/*-------------------------------------------------
 * 중앙 구분선
 *-------------------------------------------------*/
 .divider {
    margin: 60px 0;
    width: auto;
    border-top: 1px solid #ddd;
    border-bottom: 0;
}

/*-------------------------------------------------
 * 음식 갤러리 영역
 *-------------------------------------------------*/
.food-gallery {
    display: flex;
    flex-wrap: wrap;
}

.food-gallery .food-item {
    width: 25%;
    padding: 20px 10px;
}

.food-gallery .food-item a {
    display: block;
}

.food-gallery .food-item a .img-wrapper {
    overflow: hidden;
}

.food-gallery .food-item a .img-wrapper img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.food-gallery .food-item a:hover .img-wrapper img {
    transform: scale(1.1, 1.1);
}

.food-gallery .food-item a .food-content {
    padding: 15px 10px;
    text-align: center;
}

.food-gallery .food-item a .food-content h2 {
    font-size: 22px;
    margin-bottom: 12px;
    line-height: 130%;
}

.food-gallery .food-item a .food-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
}

/*-------------------------------------------------
 * 페이지 번호 영역
 *-------------------------------------------------*/
.paging {
    display: flex;
    justify-content: center;
}

.paging li {
    margin: 0 5px;
    width: 32px;
    height: 32px;
}

.paging li a {
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 32px;
}

.paging li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.paging li.active {
    background-color: #000000;
}

.paging li.active a {
    color: #ffffff;
}

/*-------------------------------------------------
 * 쉐프 소개
 *-------------------------------------------------*/
.profile-container {
    text-align: center;
}

.profile-container h2 {
    font-size: 32px;
    margin-bottom: 32px;
}

.profile-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 26px;
}

.profile-container h3 {
    font-size: 26px;
    margin-bottom: 16px;
}

.profile-container h4 {
    font-size: 18px;
    margin-bottom: 16px;
}

.profile-container p {
    font-size: 16px;
    font-weight: 300;
    line-height: 125%;
    margin-bottom: 30px;
    padding: 0 25px;
}

/*-------------------------------------------------
 * 반응형 구현
 *-------------------------------------------------*/
@media only screen and (min-width: 768px) {
    .food-gallery .food-item {
        width: 25%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .food-gallery .food-item {
        width: 50%;
    }
}

@media only screen and (max-width: 599px) {
    .food-gallery .food-item {
        width: 100%;
    }
}